.innerContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

p {
  text-align: center;
}

.bar-progress {
  width: 100px;
  height: 30px;
}

.bar-progress div::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 4px;
  top: 0px;
}

.bar-progress div {
  -webkit-animation: show-bar-ten 1.2s 0.2s forwards;
  -moz-animation: show-bar-ten 1.2s 0.2s forwards;
  animation: show-bar-ten 1.2s 0.2s forwards;
}
